<section class="registration_form_section ps_2 ps_3 mb-80">
  <figure class="wow zoomIn">
    <img src="assets/images/studio.png" alt="" class="user-img">
  </figure>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="tittle text-center">
          <h2>Registration Form</h2>
          <p>Please fill out the form to register.</p>
        </div>
        <form class="solve_from" #RequestnForm="ngForm" (ngSubmit)="onRequestClick(RequestnForm.value)">
          <!-- Full Name Input -->
          <div class="form-group">
            <input type="text" name="FullName" class="form-control" [value]="userData.userName" disabled>
            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <!-- Optional SVG Path -->
            </svg>
          </div>

          <!-- Email Input -->
          <div class="form-group">
            <input type="email" name="Email" class="form-control" [value]="userData.email" disabled>
            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <!-- Optional SVG Path -->
            </svg>
          </div>

          <!-- Additional Inputs -->
          <div class="form-group">
            <input type="tel" name="PhoneNumber" class="form-control" placeholder="Phone Number" required ngModel [value]="userData.phoneNum">
          </div>
          <div class="form-group">
            <input type="text" name="Budget" class="form-control" placeholder="Budget" required ngModel>
          </div>
          <div class="form-group">
            <textarea name="Description" class="form-control" placeholder="Description" rows="3" required ngModel></textarea>
          </div>
          <div class="form-group">
            <input type="text" name="CompanyName" class="form-control" placeholder="Company Name" required ngModel>
          </div>

          <!-- Subjects Checkboxes -->
          <div class="form-group">
            <label class="d-block mb-3">Select Subjects</label>
            <div class="form-check" *ngFor="let item of subservices">
              <input type="checkbox" class="form-check-input" id="subject{{item.subserviceId}}" name="Subjects" value="{{item.subserviceId}}" (change)="onSubserviceClick($event, item.subserviceId)">
              <label class="form-check-label" for="subject{{item.subserviceId}}">
                {{item.name}}
              </label>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-group text-center">
            <button class="theme_btn" type="submit">
              <span>Submit</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <figure class="wow zoomIn skye_img">
    <img src="assets/images/shap/skye-shap-2.png" alt="" class="shap_img">
  </figure>
  <div class="shap_style style_2"><span></span></div>
</section>
