  <!-- Header Area -->
<header class="main_header_area">
  <nav class="navbar navbar-expand-lg">
    <div class="navbar-brand">
      <a class="logo" href="index.html"><img src="assets/images/logo.png" alt="Logo"></a>
    </div>
    <!-- Small Divice Menu-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar_supported" aria-label="Toggle navigation">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <!-- Left Nav bar -->
    <div class="collapse navbar-collapse navbar_supported">
      <ul class="header_social">
        <li><a href="https://web.facebook.com/nourr.shloul.9/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/nouralshloul/?hl=en"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/nour-al-shloul-73997b220/"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="https://github.com/NourShloul"><i class="fa fa-github"></i></a></li>
      </ul>
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" routerLink="" role="button">Home</a>
        </li>
        <li>
          <a class="nav-link" href="#" role="button">Services</a>
        </li>
        <li>
          <a class="nav-link" href="#" role="button">Gallery</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/about" role="button">About</a>
        </li>
        <li>
          <a class="nav-link" href="#" role="button">Blog</a>
        </li>
        <li><a  routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <!-- Right Nav bar -->
    <ul class="right_nav">
      <li class="dropdown cart_d">
        <a class="nav-link" href="/Profile" role="button"><i class="fas fa-user"></i></a>
      </li>
      <li class="dropdown search_dropbown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-search"></i></a>
        <ul class="dropdown-menu">
          <li>
            <input type="text" placeholder="Search..">
            <span><i class="fa fa-search"></i></span>
          </li>
        </ul>
      </li>
      <li><a href="/Login" class="theme_btn">Login</a></li>
    </ul>
  </nav>
</header>
<!-- Header Area -->
