  <!-- Header Area -->
<header class="main_header_area">
  <nav class="navbar navbar-expand-lg">
    <div class="navbar-brand">
      <a class="logo" href="index.html"><img src="../../assets//images/logo.png" alt="Logo"></a>
    </div>
    <!-- Small Divice Menu-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar_supported" aria-label="Toggle navigation">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <!-- Left Nav bar -->
    <div class="collapse navbar-collapse navbar_supported">
      <ul class="header_social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-slack"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Home</a>
          <ul class="dropdown-menu">
            <li><a href="index.html">Home Version 1</a></li>
            <li><a href="index-2.html">Home Version 2</a></li>
            <li><a href="index-3.html">Home Version 3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Services</a>
          <ul class="dropdown-menu">
            <li><a href="services.html">Services v1</a></li>
            <li><a href="services-2.html">Services v2</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Gallery</a>
          <ul class="dropdown-menu">
            <li><a href="portfolio.html">Gallery v1</a></li>
            <li><a href="portfolio-2.html">Gallery v2</a></li>
            <li><a href="portfolio-3.html">Gallery v3</a></li>
            <li><a href="portfolio-4.html">Gallery v4</a></li>
            <li><a href="portfolio-single.html">Gallery Single</a></li>
            <li><a href="portfolio-single-2.html">Gallery Single v2</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Pages</a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">About</a>
              <ul class="dropdown-menu">
                <li><a href="about.html">About v1</a></li>
                <li><a href="about-2.html">About v2</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Shop</a>
              <ul class="dropdown-menu">
                <li><a href="shop.html">Shop</a></li>
                <li><a href="shop-single.html">Shop Single</a></li>
              </ul>
            </li>
            <li><a href="team.html">Team</a></li>
            <li><a href="review.html">Review</a></li>
            <li><a href="error.html">Error (404)</a></li>
            <li><a href="coming-soon.html">Coming Soon</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Blog</a>
          <ul class="dropdown-menu">
            <li><a href="blog.html">Blog</a></li>
            <li><a href="blog-single.html">Blog Single</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <!-- Right Nav bar -->
    <ul class="right_nav">
      <li class="dropdown cart_d">
        <a class="nav-link dropdown-toggle cart" href="#" role="button" data-toggle="dropdown"><i class="fas fa-shopping-cart"></i></a>
        <ul class="dropdown-menu cart_dopdown">
          <li>No products in the cart.</li>
        </ul>
      </li>
      <li class="dropdown search_dropbown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-search"></i></a>
        <ul class="dropdown-menu">
          <li>
            <input type="text" placeholder="Search..">
            <span><i class="fa fa-search"></i></span>
          </li>
        </ul>
      </li>
      <li><a href="about.html" class="theme_btn">About Us</a></li>
    </ul>
  </nav>
</header>
<!-- Header Area -->
