<!-- Footer Area -->
<footer class="footer_area">
  <div class="container">
    <div class="footer_inner row">
      <div class="col-xl-7 col-lg-6 col-md-6 footer_address wow fadeIn">
        <address>
          3rd Floor, No.15, Shaikh Khalil Street, Irbid, Jordan
          <a href="tel:+962770387833" class="number">+962 77 038 7833</a>
          <a href="mailto:info@sustain.com">info&#64;sustain.com</a>
        </address>
        <ul class="footer_social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="footer_widget col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
        <h4>Site Map</h4>
        <ul class="footer_nav">
          <li><a href="../about">About</a></li>
          <li><a href="../contact">Contact</a></li>
          <li><a href="../index">Home</a></li>
          <li><a href="#">Insights</a></li>
          <li><a href="services.html">Services & Clients</a></li>
          <li><a href="#">Work</a></li>
        </ul>
      </div>
    </div>
    <div class="row copy_right">
      <div class="col-xl-4 col-md-6 wow zoomIn">
        <ul class="mobile_icon">
          <li>Mobile Apps :</li>
          <li><a href="../comingsoon"><i class="fab fa-apple"></i></a></li>
          <li><a href="../comingsoon"><i class="fab fa-google-play"></i></a></li>
        </ul>
      </div>
      <div class="col-xl-4 col-md-6 wow slideInRight">
        <ul class="footer_nav">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="../contact">Customer Support</a></li>
          <li><a href="../comingsoon">Careers </a></li>
        </ul>
      </div>
      <div class="col-xl-4 order-xl-first wow slideInLeft">
        <p><img src="assets/images/favicon.png" alt="Company Logo">Copyrights 2024 <a href="#">Sustain</a> All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->
