 
<section class="pages_banner pb_2 pb_3">
  <div class="container">
    <div class="tittle">
      <h4>We’re Offering</h4>
      <h2>Creative Studio Web Design Team & Creative services</h2>
    </div>
  </div>
  <div class="banner_ai wow zoomIn">
    <img src="assets/images/banner-lamp.png" alt="" class="banner-lamp">
    <img src="assets/images/banner-ai.png" alt="">
  </div>
  <figure class="wow zoomIn"><img src="assets/images/shap/skye-shap-2.png" alt="" class="shap_img"></figure>
</section>

<section class="services_area sa_3 sa_5">
  <div class="shap_style ss_2 wow zoomIn"><span></span></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 wow fadeInUp" *ngFor="let item of servicesArray">
        <div class="services_items">
          <div class="icons">
            <img src="https://localhost:7270{{item.image}}" alt="">
            <span></span>
          </div>
          <a routerLink="/serviceRequest/{{item.subserviceId}}">{{item.name}}</a>
          <p> {{item.description}} </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="purpose_area pa_3">
  <div class="container">
    <div class="row">
      <div class="col-md-5 wow zoomIn">
        <img src="assets/images/propose-1.png" alt="" class="up_animat pt">
      </div>
      <div class="col-md-7">
        <h2>Work inquiry</h2>
        <h4>Say hello!</h4>
        <p class="first_p">Is to deliver awesome for our clients. By awesome, this should be a tangible impact on their business</p>
        <p>We exist as a partner to businesses, crafting strategies that are aligned with our client’s business goals.</p>
        <a href="#" class="theme_btn">Work with us</a>
      </div>
    </div>
  </div>
</section>

