    <!-- Pages Banner Area -->
<section class="pages_banner pb_2 pb_b">
  <div class="container">
    <div class="tittle tittle_2 ti_2">
      <h1>Contact</h1>
      <h4>Contact us</h4>
      <h2>Fill up the form and let us get to  know you better</h2>
    </div>
  </div>
  <figure class="wow zoomIn s_shap_1"><img src="assets/images/shap/skye-shap-2.png" alt=""></figure>
  <figure class="wow zoomIn s_shap_2"><img src="assets/images/shap/skye-shap-5.png" alt="" class="shap_img2"></figure>
</section>
<!-- Pages Banner Area -->
<!--Contact info Area -->
<section class="contact_info">
  <div class="shap_style ss_2 wow zoomIn"><span></span></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="info">
          <div class="icons">
            <i class="flaticon-customer-service cc"></i>
          </div>
          <h4>Contact Number</h4>
          <a href="#">+962770387833</a>
          <a href="#">02 7324170</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="info">
          <div class="icons">
            <i class="flaticon-paper-plane"></i>
          </div>
          <h4>Email address</h4>
          <a href="#">sustain&#64;gmail.com</a>
          <a href="#">info&#64;sustain.com</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="info">
          <div class="icons">
            <i class="flaticon-route"></i>
          </div>
          <h4>Office Location</h4>
          <p>3rd Floor, No.15, <br>Shaikh Khalil Street <br>Irbid, Jordan</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Contact info Area -->
<!--Map from Area -->
<section class="map_from row">
  <div class="col-lg-7 map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.00972981104!2d35.847093875450085!3d32.55258557375825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c7715f2c2e7ab%3A0x51755840c8ddbefd!2sOrange%20Digital%20Village%20Irbid!5e0!3m2!1sen!2sjo!4v1731153461615!5m2!1sen!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!--<img src="assets/images/shap/location.png" alt="">-->
  </div>
  <form class="from_main col-lg-5" action="https://themazine.com/html/rstu/php/contact.php" method="post" id="phpcontactform" novalidate="novalidate"  #CreateContact="ngForm" (ngSubmit)="AddNewMessage(CreateContact.value)">
    <div class="form-group">
      <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" ngModel required>
    </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <input type="email" class="form-control col-md-6" id="email" name="email" placeholder="Email" ngModel required>
      </div>
      <div class="form-group col-lg-6">
        <input type="text" class="form-control" id="subject" name="phoneNum" placeholder="Phone" ngModel required>
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control" id="message" name="message" placeholder="Your Message" ngModel required></textarea>
    </div>
    <div class="form-group m-0">
      <button class="theme_btn btn" id="js-contact-btn" type="submit">Submit Message</button>
      <div id="js-contact-result" data-success-msg="Form submitted successfully." data-error-msg="Messages Successfully"></div>
    </div>
  </form>
</section>
<!--Map from Area -->
