<!-- Banner Area -->
<section class="banner_area">
  <div class="shap_style wow zoomIn"><span></span></div>
  <div class="container">
    <h2 class="wow fadeInUp">Creative Digital Studio With Creative Services</h2>
    <p class="wow fadeInUp" data-wow-delay="0.3s">Explore the world’s leading local and global agencies to find the one that suits your needs.</p>
    <ul class="nav strategy_tab wow fadeInUp" data-wow-delay="0.6s">
      <li><a class="active" data-toggle="tab" href="#marketing">Marketing Strategy</a></li>
      <li><a data-toggle="tab" href="#design">Design</a></li>
      <li><a data-toggle="tab" href="#development">Development</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="marketing" role="tabpanel">
        <img src="assets/images/lamp.png" alt="" class="images_1 wow slideInUp">
        <img src="assets/images/strategy.png" alt="" class="wow zoomIn">
        <figure class="wow slideInRight"><img src="assets/images/man.png" alt="" class="images_2"></figure>
      </div>
      <div class="tab-pane fade" id="design" role="tabpanel">
        <img src="assets/images/lamp.png" alt="" class="images_1">
        <img src="assets/images/strategy.png" alt="">
        <figure><img src="assets/images/man.png" alt="" class="images_2"></figure>
      </div>
      <div class="tab-pane fade" id="development" role="tabpanel">
        <img src="assets/images/lamp.png" alt="" class="images_1">
        <img src="assets/images/strategy.png" alt="">
        <figure><img src="assets/images/man.png" alt="" class="images_2"></figure>
      </div>
    </div>
  </div>
  <div class="shap_style style_2"><span></span></div>
</section>
<!-- Banner Area -->
<!-- Services Area -->
<section class="services_area">
  <div class="shap_style ss_2 wow zoomIn"><span></span></div>
  <div class="container">
    <div class="tittle">
      <h4>We’re Offering</h4>
      <h2>Creative Studio Web Design Team & Creative services</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 wow fadeInUp">
        <div class="services_items">
          <div class="icons">
            <img src="assets/images/icons/services-icons-1.png" alt="">
            <span></span>
          </div>
          <a href="#">Digital Research</a>
          <p>Market analysis strives to determine the attractiveness of a market, currently and in the future. Organizations </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="services_items">
          <div class="icons">
            <img src="assets/images/icons/services-icons-2.png" alt="" class="icon_2">
            <span></span>
          </div>
          <a href="#">Modern &amp; development</a>
          <p>Market analysis strives to determine the attractiveness of a market, currently and in the future. Organizations </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="services_items">
          <div class="icons">
            <img src="assets/images/icons/services-icons-3.png" alt="" class="icon_3">
            <span></span>
          </div>
          <a href="#">Prototype Development</a>
          <p>Market analysis strives to determine the attractiveness of a market, currently and in the future. Organizations </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Area -->
<!-- About agency -->
<section class="about_agency">
  <div class="shap_bg">
    <img src="assets/images/shap/skye-shap-1.png" alt="">
  </div>
  <div class="container">
    <div class="tittle">
      <h4>About agency</h4>
      <h2>Why choose Creative Studio &amp; Creative Our services</h2>
      <h5>Creative Agency <i>studios</i></h5>
    </div>
    <div class="row">
      <div class="col-lg-4 wow zoomIn">
        <img src="assets/images/studio.png" alt="" class="up_animat">
      </div>
      <div class="col-lg-5 studios_text">
        <h6 class="wow fadeInUp">We’re on a mission to start a conversation with your customers in this fast connected world. </h6>
        <p class="wow fadeInUp" data-wow-delay="0.2s">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
        <a href="#" class="theme_btn wow fadeInUp" data-wow-delay="0.4s">Find Out More <i class="fas fa-caret-right"></i></a>
      </div>
    </div>
  </div>
  <img src="assets/images/about_bg.png" alt="" class="about_bg wow zoomIn up_animat">
</section>
<!-- About agency -->
<!-- Introducing Area -->
<section class="introducing_area">
  <div class="container">
    <div class="tittle">
      <h4>Our selected works </h4>
      <h2>Introducing Our work</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 wow zoomIn introducing_img">
        <img src="assets/images/Introducing.png" alt="" class="up_animat">
      </div>
      <div class="col-lg-6 introducing">
        <h2>We cater our <br>campaigns<br>to each client specifically </h2>
        <p class="bold_p">Our creativity is driven by data in an effort to give you the best possible result and position your brand for success.</p>
        <p>We’re on a mission to start a conversation with your customers in this fast connected world. Let’s discover, build and grow your digital business. We fuel business growth through innovative digital marketing and technology solu-tions.</p>
        <a href="#" class="theme_btn">View More Work</a>
      </div>
    </div>
  </div>
  <figure class="wow zoomIn"><img src="assets/images/shap/skye-shap-2.png" alt=""></figure>
  <div class="shap_style ss_2 wow zoomIn"><span></span></div>
</section>
<!-- Introducing Area -->
<!-- Digital Agency -->
<section class="digital_agency">
  <div class="tittle container">
    <div class="ball"><span></span></div>
    <h2>We’re a Creative Studio Web Design Team & Digital Agency</h2>
    <p>We are an Creative agency, based in New York. Vision Every company is performing best online. Mission Helping businesses to find the perfect and most succesful <br> strategy, to be online.</p>
  </div>
  <div class="agency_count">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="watch">
            <h4>Watch this quick demo </h4>
            <div class="zoomIn wow">
              <a class="popup-youtube video_area animated" href="https://player.vimeo.com/video/142874198"><i class="flaticon-play-button-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 countarup_area">
          <div class="counter_item wow zoomIn">
            <h4>Projects</h4>
            <h2><span class="counter">30</span>k</h2>
          </div>
          <div class="counter_item  wow zoomIn" data-wow-delay="0.2s">
            <h4>Cups of Coffee</h4>
            <h2 class="counter">451</h2>
          </div>
          <div class="counter_item  wow zoomIn" data-wow-delay="0.4s">
            <h4>Customers</h4>
            <h2><span class="counter">120</span>k</h2>
          </div>
          <div class="counter_item  wow zoomIn" data-wow-delay="0.6s">
            <h4>Clients</h4>
            <h2><span class="counter">130</span>k</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Digital Agency -->
<!-- Testimonial Area -->
<section class="testimonial_area">
  <div class="container">
    <div class="tittle">
      <h4>Testimonial</h4>
      <h2>Client Feedback</h2>
    </div>
    <div class="carousel slide ts_slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p>We’re on a mission to start a conversation with your customers in this fast connected world. Let’s discover, build and grow your digital business.</p>
          <a href="#">Emran Khan</a>
          <h6>Web Developer</h6>
        </div>
        <div class="carousel-item">
          <p>We’re on a mission to start a conversation with your customers in this fast connected world. Let’s discover, build and grow your digital business.</p>
          <a href="#">Akram Hossain</a>
          <h6>Frontend Web Developer</h6>
        </div>
        <div class="carousel-item">
          <p>We’re on a mission to start a conversation with your customers in this fast connected world. Let’s discover, build and grow your digital business.</p>
          <a href="#">Mahfuz Riad</a>
          <h6>Ux &amp; Product Designer</h6>
        </div>
      </div>
      <ol class="indicators">
        <li data-target=".ts_slide" data-slide-to="0" class="active">1</li>
        <li data-target=".ts_slide" data-slide-to="1">2</li>
        <li data-target=".ts_slide" data-slide-to="2">3</li>
      </ol>
    </div>
  </div>
  <ul class="indicators_img row">
    <li class="col wow zoomIn"><figure><img src="assets/images/testimonial-1.jpg" alt=""></figure></li>
    <li class="col wow zoomIn" data-wow-delay="0.2s"><figure><img src="assets/images/testimonial-2.jpg" alt=""></figure></li>
    <li class="col wow zoomIn" data-wow-delay="0.4s"><figure><img src="assets/images/testimonial-3.jpg" alt=""></figure></li>
    <li class="col wow zoomIn" data-wow-delay="0.6s"><figure><img src="assets/images/testimonial-4.jpg" alt=""></figure></li>
    <li class="col wow zoomIn" data-wow-delay="0.8s"><figure><img src="assets/images/testimonial-5.jpg" alt=""></figure></li>
  </ul>
</section>
<!-- Testimonial Area -->
<!-- Team Area -->
<section class="team_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 wow fadeIn">
        <div class="team_item">
          <a href="#" class="team_img"><img src="assets/images/team-1.jpg" alt=""></a>
          <a href="#">Emran Khan</a>
          <h6>Product developer</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="team_item">
          <a href="#" class="team_img"><img src="assets/images/team-2.jpg" alt=""></a>
          <a href="#">Tolithia Kornweibel</a>
          <h6>Product degigner</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.4s">
        <div class="team_item">
          <a href="#" class="team_img"><img src="assets/images/team-3.jpg" alt=""></a>
          <a href="#">Tolithia Kornweibel</a>
          <h6>Product degigner</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Area -->
<!-- Tidings Blog Area -->
<section class="tidings_blog_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 tittle">
        <h4>Tidings</h4>
        <h2>From Our Blog List</h2>
        <p>Subscribe today to make sure you are update to date on life at RSD and the industry that surrounds us. insights into the Digital agency activity</p>
        <a href="#">Discover More Blog</a>
      </div>
      <div class="col-lg-6 subscribe">
        <h4>Subscribe for email updates <span>( only once a week  )</span></h4>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Your email">
          <div class="input-group-append">
            <span class="input-group-text theme_btn">Subscribe</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 wow fadeIn" data-wow-delay="0.4s">
        <div class="tidings_item">
          <a href="blog-details.html" class="heding">6 Design Trends to Make Great-Looking site </a>
          <h6>by <a href="#">Emran Khan</a>,  on April 19</h6>
          <p>In our previous article, we have already discussed the biggest benefits mobile apps can bring to business and a startup,</p>
          <a href="#" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">
        <div class="tidings_item">
          <a href="blog-details.html" class="heding">6 Design Trends to Make Great-Looking site </a>
          <h6>by <a href="#">Emran Khan</a>,  on April 19</h6>
          <p>In our previous article, we have already discussed the biggest benefits mobile apps can bring to business and a startup,</p>
          <a href="#" class="read_more">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 wow fadeIn">
        <div class="tidings_item">
          <a href="blog-details.html" class="heding">6 Design Trends to Make Great-Looking site </a>
          <h6>by <a href="#">Emran Khan</a>,  on April 19</h6>
          <p>In our previous article, we have already discussed the biggest benefits mobile apps can bring to business and a startup,</p>
          <a href="#" class="read_more">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="shap_style ss_2 wow zoomIn"><span></span></div>
</section>
<!-- Tidings Blog Area -->
