<!-- Pages Banner Area -->
<section class="pages_banner pb_2">
  <div class="container">
    <h2>Creative Digital Agency</h2>
  </div>
  <div class="banner_ai wow zoomIn">
    <img src="assets/images/banner-lamp.png" alt="" class="banner-lamp">
    <img src="assets/images/banner-ai.png" alt="">
  </div>
  <figure class="wow zoomIn"><img src="assets/images/shap/skye-shap-2.png" alt="" class="shap_img"></figure>
</section>
<!-- Pages Banner Area -->
<!-- About agency -->
<section class="about_agency">
  <div class="container">
    <div class="tittle">
      <h4>About agency</h4>
      <h2>Why choose Creative Studio &amp; Our services</h2>
      <h5>Creative Agency <i>studios</i></h5>
    </div>
    <div class="row">
      <div class="col-lg-4 wow zoomIn">
        <img src="assets/images/studio.png" alt="" class="up_animat">
      </div>
      <div class="col-lg-5 studios_text">
        <h6 class="wow fadeInUp">We’re on a mission to start a conversation with your customers in this fast-connected world.</h6>
        <p class="wow fadeInUp" data-wow-delay="0.2s">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        <a href="#" class="theme_btn wow fadeInUp" data-wow-delay="0.4s">Find Out More <i class="fas fa-caret-right"></i></a>
      </div>
    </div>
  </div>
  <img src="assets/images/about_bg.png" alt="" class="about_bg wow zoomIn up_animat">
</section>
<!-- About agency -->
<!-- Our purpose Area -->
<section class="purpose_area pua_2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <h2>Our purpose</h2>
        <p class="first_p">Is to deliver awesome for our clients. By awesome, this should be a tangible impact on their business.</p>
        <p>We exist as a partner to businesses, crafting strategies that are aligned with our client’s business goals.</p>
        <p>We create beautiful designs that reflect a brand's ambition.</p>
        <p>We deliver marketing campaigns for growth, aligned with the organisational goals of our clients.</p>
      </div>
      <div class="col-lg-3 col-md-4 wow zoomIn">
        <img src="assets/images/propose-1.png" alt="" class="up_animat pt">
      </div>
    </div>
    <div class="row purpose_last">
      <div class="col-lg-9 col-md-8">
        <h2>What makes us special</h2>
        <p class="first_p">Is to deliver awesome for our clients. By awesome, this should be a tangible impact on their business.</p>
        <p>We exist as a partner to businesses, crafting strategies that are aligned with our client’s business goals.</p>
        <p>In every campaign and project, the results we aim to achieve are clear, the measures are clear and most importantly we are transparent throughout.</p>
        <p>We relish in making our client’s businesses more successful.</p>
      </div>
      <div class="col-lg-3 col-md-4 wow zoomIn order-lg-first">
        <img src="assets/images/propose-2.png" alt="" class="up_animat">
      </div>
    </div>
  </div>
  <div class="shap_style ss_2 wow zoomIn"><span></span></div>
</section>
<!-- Our purpose Area -->
<!-- Digital Agency -->
<section class="digital_agency">
  <div class="tittle container">
    <div class="ball"><span></span></div>
    <h2>We’re a Creative Studio Web Design Team & Digital Agency</h2>
    <p>We are a Creative agency, based in New York. Vision: Every company is performing best online. Mission: Helping businesses to find the perfect and most successful strategy to be online.</p>
  </div>
  <div class="agency_count">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="watch">
            <h4>Watch this quick demo </h4>
            <div class="zoomIn wow">
              <a class="popup-youtube video_area animated" href="https://player.vimeo.com/video/142874198"><i class="flaticon-play-button-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 countarup_area">
          <div class="counter_item wow zoomIn">
            <h4>Projects</h4>
            <h2><span class="counter">30</span>k</h2>
          </div>
          <div class="counter_item wow zoomIn" data-wow-delay="0.2s">
            <h4>Cups of Coffee</h4>
            <h2 class="counter">451</h2>
          </div>
          <div class="counter_item wow zoomIn" data-wow-delay="0.4s">
            <h4>Customers</h4>
            <h2><span class="counter">120</span>k</h2>
          </div>
          <div class="counter_item wow zoomIn" data-wow-delay="0.6s">
            <h4>Clients</h4>
            <h2><span class="counter">130</span>k</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Digital Agency -->
<!-- Team Area -->
<section class="team_area ta_4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 wow fadeIn">
        <div class="team_item">
          <a href="#" class="team_img"><img src="assets/images/team-1.jpg" alt=""></a>
          <a href="#">Emran Khan</a>
          <h6>Product developer</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="team_item">
          <a href="#" class="team_img"><img src="assets/images/team-2.jpg" alt=""></a>
          <a href="#">Tolithia Kornweibel</a>
          <h6>Product designer</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.4s">
        <div class="team_item">
          <a href="#" class="team_img"><img src="assets/images/team-3.jpg" alt=""></a>
          <a href="#">Tolithia Kornweibel</a>
          <h6>Product designer</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Area -->
<!-- Testimonial Area -->
<section class="testimonial_area ta_2">
  <div class="container">
    <div class="tittle">
      <h4>Testimonial</h4>
      <h2>Client Feedback</h2>
    </div>
    <div class="carousel slide ts_slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p>We’re on a mission to start a conversation with your customers in this fast-connected world. Let’s discover, build and grow your digital business.</p>
          <a href="#">Emran Khan</a>
          <h6>Web Developer</h6>
        </div>
        <div class="carousel-item">
          <p>Let’s discover, build and grow your digital business. We’re on a mission to start a conversation with your customers in this fast-connected world.</p>
          <a href="#">Akram Hossain</a>
          <h6>Frontend Web Developer</h6>
        </div>
        <div class="carousel-item">
          <p>We’re on a mission to start a conversation with your customers in this fast-connected world. Let’s discover, build and grow your digital business.</p>
          <a href="#">Mahfuz Riad</a>
          <h6>UX &amp; Product Designer</h6>
        </div>
      </div>
      <ol class="indicators">
        <li data-target=".ts_slide" data-slide-to="0" class="active">1</li>
        <li data-target=".ts_slide" data-slide-to="1">2</li>
        <li data-target=".ts_slide" data-slide-to="2">3</li>
      </ol>
    </div>
  </div>
  <figure class="wow zoomIn"><img src="assets/images/user-img.png" alt="" class="user-img"></figure>
</section>
<!-- Testimonial Area -->
<!-- Got a problem to solve? -->
<section class="problem_solve ps_2 ps_3">
  <figure class="wow zoomIn"><img src="assets/images/splve-2.png" alt="" class="user-img"></figure>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-4">
        <div class="tittle">
          <h2>Got a problem to solve?</h2>
          <p>Before we put our thinking caps on, tell us a few things about yourself.</p>
        </div>
        <form class="solve_from">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name *">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Your Email *">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="company" placeholder="Company">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" placeholder="Message *"></textarea>
          </div>
          <div class="form-group">
            <button class="theme_btn" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <figure class="wow zoomIn skye_img"><img src="assets/images/shap/skye-shap-2.png" alt="" class="shap_img"></figure>
  <div class="shap_style style_2"><span></span></div>
</section>
<!-- Got a problem to solve? -->
