<hr />
<h2> Subservices</h2>
<hr />
<div class="form-group mb-3">
  <input type="text" class="form-control" placeholder="Search by name">
</div>
<div>
  <button class="theme_btn"><a routerLink="/dashboard/addSubservice">Add new Subservice</a></button>
</div>

<br />
<table class="table table-striped table-hover">
  <thead>
    <tr class="text-center">
      <th scope="col">SubserviceID</th>
      <th scope="col">ServiceID</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of servicesArray" class="align-middle text-center">
      <td>{{item.subserviceId}}</td>
      <td>{{item.serviceId}}</td>
      <td>
        <img class="rounded-circle" style="height: 100px; width: 100px; object-fit: cover;" src="https://localhost:7270{{item.image}}" alt="User Image" />
      </td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>
        <button class="btn btn-warning">Edit</button>
        <button class="btn btn-danger" (click)="deleteSubservice(item.subserviceId)">Delete</button>
      </td>

    </tr>
  </tbody>
</table>
