<!-- Pages Banner Area -->
<section class="pages_banner pb_2">
  <div class="container">
    <h2>Creative Digital Agency</h2>
  </div>
  <div class="banner_ai wow zoomIn">
    <img src="assets/images/banner-lamp.png" alt="" class="banner-lamp">
    <img src="assets/images/banner-ai.png" alt="">
  </div>
  <figure class="wow zoomIn"><img src="assets/images/shap/skye-shap-2.png" alt="" class="shap_img"></figure>
</section>
<!-- Pages Banner Area -->
<!-- About Agency -->
<section class="about_agency">
  <div class="shap_bg">
    <img src="assets/images/shap/skye-shap-1.png" alt="">
  </div>
  <div class="container">
    <div class="tittle">
      <h4>About Us</h4>
      <h2>Why Choose Sustain for Your Sustainable Growth Journey</h2>
      <h5>Sustain Digital Marketing Agency</h5>
    </div>
    <div class="row">
      <div class="col-lg-4 wow zoomIn">
        <img src="assets/images/studio.png" alt="" class="up_animat">
      </div>
      <div class="col-lg-5 studios_text">
        <h6 class="wow fadeInUp">Our mission is to connect your brand with customers in a sustainable and impactful way.</h6>
        <p class="wow fadeInUp" data-wow-delay="0.2s">We believe in creating value through environmentally conscious strategies that resonate with today’s connected world.</p>
      </div>
    </div>
  </div>
  <img src="assets/images/about_bg.png" alt="" class="about_bg wow zoomIn up_animat">
</section>
<!-- About Agency -->
<!-- Our Purpose Area -->
<section class="purpose_area pua_2">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <h2>Our Purpose</h2>
        <p class="first_p">Our mission is to deliver exceptional value to our clients. By "exceptional," we mean tangible, measurable results that directly impact their business growth.</p>
        <p>We collaborate as trusted partners, creating strategies that are perfectly aligned with the unique goals of each client.</p>
        <p>Our designs are crafted to embody a brand’s vision, making an emotional connection with audiences while reflecting the brand’s ambition.</p>
        <p>We execute marketing campaigns with precision, driving growth and always staying in sync with the client’s organizational objectives.</p>
      </div>
      <div class="col-lg-3 col-md-4 wow zoomIn">
        <img src="assets/images/propose-1.png" alt="Creative Purpose Illustration" class="up_animat pt">
      </div>
    </div>
    <div class="row purpose_last">
      <div class="col-lg-9 col-md-8">
        <h2>What Makes Us Special</h2>
        <p class="first_p">What sets us apart is our unwavering commitment to delivering measurable impact for our clients.</p>
        <p>We act as strategic partners, ensuring that every project is aligned with our client’s long-term goals and business values.</p>
        <p>In every campaign, clarity and transparency are our guiding principles—clear objectives, clear measures, and clear communication.</p>
        <p>Our passion lies in elevating our clients’ businesses and watching them thrive in the ever-evolving digital landscape.</p>
      </div>
      <div class="col-lg-3 col-md-4 wow zoomIn order-lg-first">
        <img src="assets/images/propose-2.png" alt="Unique Approach Illustration" class="up_animat">
      </div>
    </div>
  </div>
  <div class="shap_style ss_2 wow zoomIn"><span></span></div>
</section>
<!-- Our Purpose Area -->
<!-- Team Area -->
<section class="team_area">
  <div class="container">
    <div class="tittle text-center">
      <h4>Our Team</h4>
      <h2>Meet the Experts Behind Sustain</h2>
      <!--<p>Our team of talented professionals is dedicated to helping you achieve your digital goals with innovative strategies and creative solutions.</p>-->
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.4s">
        <div class="team_item text-center">
          <a href="#" class="team_img"><img src="assets/images/nour.jpg" alt="Nour Al-Shloul"></a>
          <a href="#">Nour Al-Shloul</a>
          <h6>Sustain Founder</h6>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Area -->
<!-- Testimonial Area -->
<section class="testimonial_area ta_2">
  <div class="container">
    <div class="tittle">
      <h4>Testimonial</h4>
      <h2>Client Feedback</h2>
    </div>
    <div class="carousel slide ts_slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p>We’re on a mission to start a conversation with your customers in this fast-connected world. Let’s discover, build and grow your digital business.</p>
          <a href="#">Emran Khan</a>
          <h6>Web Developer</h6>
        </div>
        <div class="carousel-item">
          <p>Let’s discover, build and grow your digital business. We’re on a mission to start a conversation with your customers in this fast-connected world.</p>
          <a href="#">Akram Hossain</a>
          <h6>Frontend Web Developer</h6>
        </div>
        <div class="carousel-item">
          <p>We’re on a mission to start a conversation with your customers in this fast-connected world. Let’s discover, build and grow your digital business.</p>
          <a href="#">Mahfuz Riad</a>
          <h6>UX &amp; Product Designer</h6>
        </div>
      </div>
      <ol class="indicators">
        <li data-target=".ts_slide" data-slide-to="0" class="active">1</li>
        <li data-target=".ts_slide" data-slide-to="1">2</li>
        <li data-target=".ts_slide" data-slide-to="2">3</li>
      </ol>
    </div>
  </div>
  <figure class="wow zoomIn"><img src="assets/images/user-img.png" alt="" class="user-img"></figure>
</section>
<!-- Testimonial Area -->
<!-- Got a problem to solve? -->
<section class="problem_solve ps_2 ps_3">
  <figure class="wow zoomIn"><img src="assets/images/splve-2.png" alt="" class="user-img"></figure>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-4">
        <div class="tittle">
          <h2>Got a Problem to Solve?</h2>
          <p>We’re ready to help you tackle any challenge. Share a little about your needs, and let’s get started.</p>
        </div>
        <form class="solve_from">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name *">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Your Email *">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="company" placeholder="Company">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" placeholder="Message *"></textarea>
          </div>
          <div class="form-group">
            <button class="theme_btn" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <figure class="wow zoomIn skye_img"><img src="assets/images/shap/skye-shap-2.png" alt="" class="shap_img"></figure>
  <div class="shap_style style_2"><span></span></div>
</section>
<!-- Got a problem to solve? -->
