<section class="services_area">
  <form #formData="ngForm"
        class="d-grid gap-4 mx-auto"
        style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: gainsboro"
        (ngSubmit)="Addpost(formData.value)">


    <!-- Story Title Row -->
    <div class="d-grid gap-2">
      <label for="email" style="font-weight: bold;">Story Title <span class="text-primary">*</span></label>
      <input type="text"
             id="email"
             name="storyTitle"
             placeholder="Story Title"
             class="form-control px-3 py-2 border rounded-pill focus-primary"
             ngModel
             required>
    </div>
    <!-- Story Content Row -->
    <div class="d-grid gap-2">
      <label for="name" style="font-weight: bold;">Story Content <span class="text-primary">*</span></label>
      <textarea type="text"
             id="name"
             name="storyContent"
             placeholder="Write post"
             class="form-control px-3 py-2 border rounded-pill focus-primary"
             ngModel
             required>
</textarea>
    </div>
    <!-- Image Upload Row -->
    <div class="d-grid gap-2">
      <label for="phone" style="font-weight: bold;">Image <span class="text-primary">*</span></label>
      <input type="file"
             id="phone"
             name="storyPhoto"
             placeholder="Upload image"
             class="form-control px-3 py-2 border rounded-pill focus-primary"
             (change)="changeImage($event)"
             required>
    </div>

    <!-- Submit Button Row -->
    <div class="text-center mt-4">
      <button type="submit"
              class="btn btn-primary px-5 py-2"
              style="background-color: #e21dfb; border: none; border-radius: 5px; color: white; font-size: 1em; cursor: pointer;">
        Send Message
      </button>
    </div>
  </form>
</section>
